@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorprimario--:black;
    --colorsecundario--:#FFF1DB;
    --colorterciario--:aquamarine;
    --colorstrong--:#EF5A6F;
    --colorspan--:violet;

    --fuentemontse--: "Montserrat", sans-serif;
    --fuentekrona--: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--colorprimario--);
    color: var(--colorsecundario--);
    box-sizing: border-box;
}

.header{
    padding: 2% 0 0 7%;
} 

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fuentemontse--);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorsecundario--);
    text-decoration: none;
}

.Presentacion{
    display: flex;
    align-items: center;
    padding: 7%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_Contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_Contenido_Titulo{
    font-size: 2.25rem;
    font-family: var(--fuentekrona--);
    font-weight: 400;
}

.Titulomarca {
    color: var(--colorstrong--);
}

.Texto-estilizado{
    color: var(--colorterciario--);
    font-size: 1.5rem;
    font-family: var(--fuentemontse--);
}

span{
    color: var(--colorspan--);
}

a{
    font-family: var(--fuentemontse--);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--colorprimario--);
}

.presentacion_enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fuentekrona--);
}

.presentacion_enlaces_link{
    width: 50%;
    border: 1px solid var(--colorsecundario--);
    padding: 21.5px 0;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    color: var(--colorsecundario--);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlaces_link:hover{
    background-color: #272727;
}

.presentacion_imagen{
    width: 50%;
}

.footer{
    background-color: var(--colorsecundario--);
    padding: 24px;
    color: var(--colorstrong--);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fuentemontse--);
}

@media (max-width:1200px){
    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .Presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_Contenido{
        width: auto;
    }
}